<div>
  <div class="row centered">
    <div class="col col-6">
      <h2>SSL pricelist</h2>
      <table *ngIf="pricelist">
        <tbody>
          <tr *ngFor="let item of pricelist">
            <td>
                <a (mouseover) ="selectedId = item.id" (mouseleave)="selectedId = false">{{ item.name }}</a>
                <div *ngIf="selectedId==item.id">
                  <popover-component [id]=item.id></popover-component>
                </div>
            </td>
            <td> от {{ item.price.period[0].cost }} {{ item.price.currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
